#tb{ 
    border:10px solid black;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px ;
    margin-right: 0px;
    padding:0px


}



tr{
border: black 20px solid;

}

td{
height: 40px;
width: 40px;
}



#black{
background: black;
}



#white{
    background: white;

}

#spl{
font-family: cursive;
font-size: 45px;

}